<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.finance.common.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/finance"
        android:label="@string/icon_label"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:supportsRtl="true">

        <!-- 主Activity -->
        <activity
            android:name=".view.ChartActivity"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 子Activity -->
        <activity
            android:name=".view.ChildActivity"
            android:theme="@style/ChildActivityTheme"
            android:exported="false" />  <!-- 如果是内部使用，添加exported=false -->

    </application>
</manifest>