.Table-table {
  font-size: 15px;
  table-layout: fixed;
  empty-cells: show;
  border-collapse: collapse;
  margin: 0 auto;
  width: 96%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.Table-th, Table-th1, Table-th2, Table-th3, Table-th4, Table-th5 {
  height: 30px;
  border: 1px solid #ccc;
  background-color: #caeae0;
  padding: 0 1em 0;
}

.Table-th1 {
  border: 1px solid #ccc;
  width: 6%;
}

.Table-th2 {
  border: 1px solid #ccc;
  width: 60%;
}

.Table-th3 {
  border: 1px solid #ccc;
  width: 12%;
}

.Table-th4 {
  border: 1px solid #ccc;
  width: 12%;
}

.Table-th5 {
  border: 1px solid #ccc;
  width: 10%;
}

.Table-tr {
  border: 1px solid #ccc;
  background-color: #f5fafe;
}

.Table-td, Table-td1, Table-td2, Table-td3, Table-td4, Table-td5 {
  height: 20px;
  border: 1px solid #ccc;
  padding: 0 1em 0;
}

.Table-td1 {
  border: 1px solid #ccc;
  width: 6%;
  text-align: center;
}

.Table-td2 {
  border: 1px solid #ccc;
  padding-left: 5px;
  width: 62%;
}

.Table-td3 {
  border: 1px solid #ccc;
  width: 12%;
  text-align: center;
}

.Table-td4 {
  border: 1px solid #ccc;
  width: 12%;
  text-align: center;
}

.Table-td5 {
  border: 1px solid #ccc;
  width: 8%;
  text-align: center;
  color: gold;
  font: 900;
  font-weight: bolder;
}

.Table-search-area {
  width: 96%;
  height: 24px;
  margin: 0 auto;
}

.Table-search-td1 {
  font-size: 15px;
  padding-left: 5px;
  margin-top: 0px;
  width: 40%;
  font-weight: bold;
  color: black;
  text-align: left;
}

.Table-search-td2 {
  height: 24px;
  width: 50%;
}

.Table-search-td3 {
  height: 24px;
  width: 10%;
}

.Table-search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 94%;
}

.Table-search-btn {
  padding: 10px 20px;
  margin: 3px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.Table-table-mobile {
  font-size: 15px;
  /* table-layout: fixed; */
  table-layout: fixed;
  empty-cells: show;
  border-collapse: collapse;
  margin: 0 auto;
  width: 96%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  /* margin-left: 4px;
  margin-right: 4px; */
}

.Table-search-input-mobile {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 240px;
  margin-left: 1px;
}

.Table-th-mobile Table-th1-mobile, Table-th2-mobile, Table-th3-mobile {
  height: 30px;
  border: 1px solid #ccc;
  background-color: #caeae0;
  padding: 0 1em 0;
}

.Table-th1-mobile {
  height: 30px;
  border: 1px solid #ccc;
  background-color: #caeae0;
  padding: 0 1em 0;
  width: 8%;
  text-align: center;
}

.Table-th2-mobile {
  height: 30px;
  border: 1px solid #ccc;
  background-color: #caeae0;
  padding: 0 1em 0;
  width: 72%;
  text-align: center;
}

.Table-th3-mobile {
  height: 30px;
  border: 1px solid #ccc;
  background-color: #caeae0;
  padding: 0 1em 0;
  width: 20%;
  text-align: center;
}

.Table-td1-mobile {
  height: 32px;
  border: 1px solid #ccc;
  padding: 0 1em 0;
  width: 8%;
  text-align: center;
}

.Table-td2-mobile {
  height: 32px;
  border: 1px solid #ccc;
  padding: 0 1em 0;
  overflow-wrap: break-word;
  padding-left: 5px;
  width: 72%;
}

.Table-td3-mobile {
  height: 32px;
  border: 1px solid #ccc;
  padding: 0 1em 0;
  width: 20%;
  text-align: center;
}

.Table-total1-mobile {
  font-size: 15px;
  padding-left: 4px;
  margin-top: 0px;
  width: 40%;
  font-weight: bold;
  color: black;
  text-align: left;
}

.Table-total2-mobile {
  font-size: 15px;
  padding-left: 4px;
  margin-top: 0px;
  width: 40%;
  font-weight: bold;
  color: black;
  text-align: left;
}
