.App-div {
  width: 66%;
  align-items: center;
  margin-left: 17%;
}

.App-table {
  font-size: 15px;
  table-layout: fixed;
  empty-cells: show;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  color: #666;
}

.App-td {
  width: 14%;
}

.App-td4 {
  width: 18%;
}

.App-table-mobile {
  font-size: 15px;
  empty-cells: show;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  color: #666;
}

.App-td-mobile {
  width: 40%;
}

.App-td4-mobile {
  width: 60%;
}
